<aside class="d-flex flex-column justify-content-between ">
    <ul class="asidemenu">
        <li class="box d-flex mt-40 mb-32">
            <img  src="../assets/images/logo-ANSWER.svg" alt="LOGO">
        </li>

        <li class="box d-flex mb-26 ">
            <a href="#" class="text-gray-900">
                <span class="material-icons me-16 align-middle">
                    insert_chart
                </span>
                <h3 class="fs-6 fw-bold d-inline">Dashboard</h3>
            </a>
        </li>

        <li class="box d-flex mb-26 ">
            <a href="#" class="text-gray-900">
                <span class="material-icons me-16 align-middle">
                    question_answer
                </span>
                <h3 class="fs-6 fw-bold d-inline">Question</h3>
            </a>
        </li>

        <li class="box d-flex mb-26">
            <a href="#" class="text-gray-900">
                <span class="material-icons me-16 align-middle">
                    assignment
                </span>
                <h3 class="fs-6 fw-bold d-inline">Assignment</h3>
            </a>
        </li>

        <li class="box d-flex mb-26">
            <a href="#" class="text-gray-900">
                <span class="material-icons me-16 align-middle">
                    video_library
                </span>
                <h3 class="fs-6 fw-bold d-inline">Course</h3>
            </a>
        </li>

        <li class="box d-flex mb-26 mx-30">
            <a class="<%= page === 'admin' ? ' text-success border-start border-4 border-successfuly border-success ps-4' : 'text-gray-900' %>" href="./admin.html">
                <span class="material-icons me-16 align-middle">
                    group
                </span>
                <h3 class="fs-6 fw-bold d-inline ">Admin</h3>
            </a>
        </li>

        <li class="box d-flex mb-26 ">
            <a href="#" class="text-gray-900">
                <span class="material-icons me-16 align-middle">
                    settings
                </span>
                <h3 class="fs-6 fw-bold d-inline">Settings</h3>
            </a>
        </li>
    </ul>

    <div class="d-flex">
        <div class="header me-16 ms-32 ">
        </div>
        <div class="infro">
            <h3 class="fw-bold mb-1">Andy Chen</h3>
            <p class="fc-g">andy0401@mail.com</p>
        </div>
    </div>
    
</aside>