<main> 
    <table class="table table-hover ms-32 mt-4 ">
        <thead>
          <tr>
            <th scope="col">ID
                <span class="material-icons text-success align-middle">
                arrow_downward
                </span>
            </th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Verified</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="pt-3">#1</th>
            <td class="pt-3" >Emir Wicks</td>
            <td class="pt-3">emir.wicks@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3">
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#2</th>
            <td class="pt-3">Zaina Goldsmith</td>
            <td class="pt-3">zaina.goldsmith@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#3</th>
            <td class="pt-3">Mahima Lopez</td>
            <td class="pt-3">mahima.lopez@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#4</th>
            <td class="pt-3">Pharrell Murray</td>
            <td class="pt-3">pharrell.murray@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#5</th>
            <td class="pt-3">Annika Mcbride</td>
            <td class="pt-3">annika.mcbride@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#6</th>
            <td class="pt-3">Fatimah Clark</td>
            <td class="pt-3">fatimah.clark@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#7</th>
            <td class="pt-3">Klaudia Rhodes</td>
            <td class="pt-3">klaudia.rhodes@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#8</th>
            <td class="pt-3">Tillie Lucero</td>
            <td class="pt-3">tillie.lucero@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr class="">
            <th scope="row" class="pt-3">#9</th>
            <td class="pt-3">Sabrina Stephenson</td>
            <td class="pt-3">sabrina.stephenson@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
          <tr>
            <th scope="row" class="pt-3">#10</th>
            <td class="pt-3">Annie Smith</td>
            <td class="pt-3">annie.smith@mail.com</td>
            <td class="pt-3">Yes</td>
            <td class="pt-3" >
                <span class="material-icons poin pr-15 ">
                visibility
                </span>
                <span class="material-icons poin">
                    edit
                </span>
            </td>
          </tr>
        </tbody>
      </table>
</main>