.text-gray-900:hover{
    color: #28a745;
}

.fc-g{
    color: $color_gray_font;
}

.fz-14{
    font-size: 14px;
}

.fz-24{
    font-size: 24px;
}

.me-7{
    margin-right: 7px;
}

.me-77{
    margin-right: 77px;
}

.me-16{
    margin-right: 16px;
}

.me-8{
    margin-right: 8px;
}

.me-26{
    margin-right: 26px;
}

.me-40{
    margin-right: 40px;
}

.me-48{
    margin-right: 48px;
}

.ms-32{
    margin-left: 32px;
}

.mt-28{
    margin-top: 28px;
}

.mt-40{
    margin-top: 40px;
}

.mb-26{
    margin-bottom: 26px;
}

.mb-32{
    margin-bottom: 32px;
}

.mx-30{
    margin-left: -30px;
}

.pr-15{
    padding-right: 15px;
}

.modal-title{
    font-size: 24px;
}

.modal-body h3{
    font-size: 20px;
} 

.modal-body span{
    font-size: 14px;
} 

.poin{
    cursor: pointer;
    &:hover{
        opacity: .9;
    }
}






