aside{
    background-color: $color_gray;
    width: 296px;
    height: auto;
    .header{
        width: 40px;
        height: 40px;
        background-image: url(./../images/andychen.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 24px;
    }
}